{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{template "title" .}} - DelDrone</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'">
    </head>
    <body>
        <header>
            {{if .AuthenticatedCustomer}}
                    <h1><a href="/customer/home">DelDrone</a></h1>
                {{else if .AuthenticatedVendor}}
                    <h1><a href="/vendor/home">DelDrone</a></h1>
                {{else}}
                    <h1><a href="/">DelDrone</a></h1>
                {{end}}
        </header>
        <nav>
            <div>
                {{if .AuthenticatedCustomer}}
                    <a href="/customer/home">Home</a>
                    <a href="/customer/cart">Cart</a>
                    <a href="/customer/activeorders">Active Orders</a>
                    <a href="/customer/pastorders">All Orders</a>
                {{else if .AuthenticatedVendor}}
                    <a href="/vendor/home">Home</a>
                    <a href="/vendor/listings">Listings</a>
                    <a href="/vendor/orders">Orders</a>
                {{end}}
            </div>
            <div>
                {{if .AuthenticatedCustomer}}
                <form action="/logout" method="POST">
                    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                    <button type="submit">Log Out</button>
                </form>
                {{else if .AuthenticatedVendor}}
                <form action="/logout" method="POST">
                    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                    <button type="submit">Log Out</button>
                </form>
                {{else}}
                    <a href="/login">Login</a>
                    <a href="/signup">Sign Up</a>
                {{end}}
            </div>
        </nav>
        <section>
            {{with .Flash}}
                <div class="flash">{{.}}</div>
            {{end}}
            {{template "body" .}}
        </section>
        <footer>
            <div>
                Created by <a href="https://github.com/iamadarshk">iamadarshk</a> for DelDrone. This website uses cookies.
            </div>
        </footer>
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}