{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
    <p>
       DelDrone is a delivery network which harnesses the power of autonomous drones. To Get started Login or Signup. 
    </p>
    <div>
        <a href="/signup" class="button">Sign Up</a>
        <a href="/login" class="button">Login</a>
    </div>
{{end}}