{{template "base" .}}

{{define "title"}}Listing # - {{.Listing.ID}} {{end}}

{{define "body"}}
    {{with .Listing}}
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>{{.Name}}</a></td>
                <td>{{.Description}}</td>
                <td>{{.Price}}</td>
            </tr>
        </table>
    {{end}}
    {{if .AuthenticatedCustomer}}
        <form action="/customer/addtocart/{{.Listing.ID}}" method="POST">
            <div>
                <label>Quantity: </label>
                {{with .Form.Errors.Get "quantity"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input type="number" name="quantity" value="0">
                <input type="submit" value="Update Cart">
            </div>
        </form>
    {{else if .AuthenticatedVendor}}
        <a class="button" href="/listing/update/{{.Listing.ID}}">Update</a>
    {{end}}
{{end}}