{{template "base" .}}

{{define "title"}}Sign Up{{end}}

{{define "body"}}
    <form action="/signup" method="POST">
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        {{with .Form}}
            <div>
                <div>
                    <label>Name: </label>
                    {{with .Errors.Get "name"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <input type="text" name="name" value="{{.Get "name"}}">
                </div>
                <div>
                    <label>Email: </label>
                    {{with .Errors.Get "email"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <input type="email" name="email" value="{{.Get "email"}}">
                </div>
                <div>
                    <label>Password:</label>
                    {{with .Errors.Get "password"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <input type="password" name="password">
                </div>
                <div>
                    <label>Phone: </label>
                    {{with .Errors.Get "phone"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <input type="text" name="phone" value="{{.Get "phone"}}">
                </div>
                <div>
                    <label>Address: </label>
                    {{with .Errors.Get "address"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <input type="text" name="address" value="{{.Get "address"}}">
                </div>
                <div>
                    <label>Pin Code: </label>
                    {{with .Errors.Get "pincode"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <input type="text" name="pincode" value="{{.Get "pincode"}}">
                </div>
                <div>
                    <label>I am a:</label>
                    <input type="radio" name="accType" value="customer" checked> Customer
                    <input type="radio" name="accType" value="vendor"> Vendor
                </div>
            </div>
            <div>
                <div>
                    <p>
                        This is the location where you would like the drone to pick up payload.
                    </p>
                    <h5>
                        Note: This field is required only for vendors. Customers will be asked for 
                        their location while confirming orders.
                    </h5>
                </div>
                <div>
                    <label>Latitude: </label>
                    {{with .Errors.Get "gps_lat"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <input type="text" name="gps_lat" value="{{.Get "gps_lat"}}">
                </div>
                <div>
                    <label>Longitude: </label>
                    {{with .Errors.Get "gps_long"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <input type="text" name="gps_long" value="{{.Get "gps_long"}}">
                </div>
            </div>
            <div>
                <input type="submit" value="Sign Up">
            </div>
        {{end}}
    </form>
{{end}}